@import '../css/fonts.css';

.section_projects {
    word-break: break-all;
    background: #FFFFFF;
    border-radius: 12px;
    max-width: 80%;
    min-width: 80%;
    margin: auto;
    margin-bottom: 100px;
}
.projects {
    padding: 16px;
}
.projects figure {
    margin: 0;
}